header{
	background-color: blue ;
	padding: 20px;
	border-radius: 10px;
	text-shadow: 2px 3px 3px black;
}

.nav-links{
	list-style-type: none;
	display: inline-flex;
	gap: 240px;
}

.nav-links li a{
	color: white ;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}

.nav-links li a:hover{
	color: lightcoral;
	transition: 3s;
}

h1{
	text-align: center;
	text-decoration: overline underline;
	text-decoration: !important;
	text-transform: uppercase;
	text-transform: capatilize;
	text-shadow: 1px 2px 3px greenyellow;
	color: darkcyan;
	font-style: italic;
}

h2{
	text-align: center;
	text-decoration: underline;
	text-transform: capatilize;
	text-shadow: 1px 2px 1px lightseagreen;
	color: darkcyan;
}

h4{
	text-align: center;
	text-decoration: underline;
	color: darkcyan;
	font-size: 25px;
}

p{
	text-align: justify;
	line-height: 1.5;

	font-size: 20px;
	font-weight: normal;
	font-weight: 600;
}

.apple{
	text-decoration: underline;
	color: indianred;
	font-size: 30px;
}

.yello{
	font-size: 25px;
	text-decoration: overline underline;
	font-weight: bold;
}

.items{
	font-size: 20px;
}

.nav-links li {
	padding: 10px;
}

#menu .active{
	text-decoration: overline underline;
	text-transform: uppercase;
	background-color: white;
	color: red;
	text-shadow: 2px 3px 3px skyblue;
}

#menu{
	display: inline-flex;
	gap: 250px;
	padding-top: 10px;
	padding-left: 50px;
}

.dropdown:hover .menu{
	display: block;
	background-color: chocolate;
}

footer{	
	text-align: center;
	background-image:url('binayakmartinsidefooter.jpg') ;
	background-color: lightsteelblue ;
	padding: 20px;
	border-radius: 10px;
}

footer a:hover{
	color: red;
	transition: 2s;
}

h3{
	text-decoration: underline;
	text-transform: capatilize;
	color: green;
	font-size: 25px;
}

#up,#down{
	background-color: green;
	box-sizing: 100px;
	border-radius: 5px;
	border: dotted red;
	color: white;
	font-style: bold;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
}

#up:hover,#down:hover{
	color: yellow;
	transition: 2s;
}

@media (min-width:1000px) and (max-width: 2050px){
	body{
	background-color: lightgrey;
	display: block;
}
}

@media (min-width:600px) and (max-width: 999px){
	body{
	background-color: lightcoral;
}
}

footer h1{
	color: red;
	text-shadow: 2px 3px 3px black;
	text-decoration: overline underline;
	font-style: italic;
}

footer h2{
	color: yellow;
	text-shadow: 1px 2px 1px black;
	text-decoration: underline;
	font-family: Arial sans-serif;
}

footer h3{
	color: lightgreen;
	text-decoration: underline;
}

footer h4{
	color: greenyellow;
	text-decoration: underline;
}
